@import "main.css";
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
hr{box-sizing:content-box;height:0;overflow:visible}
.b-header, .header-left-clmn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-clmn {
    flex: 8;
    padding-right: 1rem;
}
.b-header{
    padding: 0 1rem 0 1rem;
    height: 5rem;
    background: #252525;
}

a.header__logo-wrapper, a.header__link, a.header__link_last , a.b-header__donate-btn{
    color: white;
    text-decoration: none;
}
.header__name-and-region{
    padding-right: 7.3rem;
}

.header__links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__link{
    margin: 0 1.5rem 0 0;
}

.navigation-table{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: white;
}

.navigation-block-text:hover {
    box-shadow: 1px 0 8px rgb(0 0 0 / 25%);
}


.no-touchevents .b-slide_with-zoom .b-slide__bg {
    transform: translateZ(0) scale(1.01);
    transition: transform .8s ease-out;
}

.header__logo-wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header__logo_icon{
    display: block;
    width: 3rem;
    margin-right: 0.5rem;
}
.header__name{
    margin: 0;
    margin-bottom: 0.1rem;
    white-space: nowrap;
}

.social-media{
    display:flex;
    justify-content: right;
    align-items: center;
    color: #353536;
}
.social-media-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
    color: #353536;
}


.b-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #252525;
    
}
a.b-header__donate-btn {
    display: block;
    padding: 0.5rem 2rem 0.6rem 2rem;
    border-radius: 4rem;
    color: #E09C22;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    border: 0.5px solid #E09C22;
    text-align: center;
}
a.b-header__donate-btn:hover{
    color: #353536;
    transition: 0.3s ease;
}
a.b-header__donate-btn:hover{
    transition: 0.3s ease;
    background-color: #E09C22;
}
.b-header__donate-btn-plus{
    display: flex;
}
.b-footer, .b-footer_mobile{
    border-top: 2px solid #e0b423;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1.5rem 0rem 1.5rem;
}
.Middle-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.5rem 0rem 1.5rem;
}
body{
    background-color: #f2f2f2;
}
/* -- Button to the top -- */
.b-backTop {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ecab00;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}
.b-backTop svg {
    fill: #fff;
}
svg:not(:root) {
    overflow: hidden;
}
.b-backTop_active {
    opacity: 1;
    transition: opacity 0.4s;
}